footer {
    background-color: rgb(64, 59, 59);
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
}

.footer-left-side{
    display: flex;
    margin-left: 160px;
}


.footer-right-side {
    margin-right: 160px;
}

.footer-logo {
    height: 100px;
}

.footer-right-top{
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

.footer-icon {
    height: 42px;
    width: auto;
    margin-left: 16px;
}

.footer-link {
    text-decoration: none;
    color: white;
    text-align: center
}

.footer-logo-small{
    height: 100px;
}

@media(max-width: 900px) {
    .footer-logo {
        height: 100px;
    }

    .footer-icon {
        height: 32px;
    }

    .footer-right-side {
        margin-right: 100px;
    }

    .footer-left-side{
        margin-left: 100px;
    }
}

@media(750px){
    .footer-right-side {
        margin-right: 70px;
    }
}

@media(max-width: 675px) {
    .footer-logo {
        display: none;
    }

    .footer-icon {
        height: 24px;
    }
    }

    .footer-left-side{
        margin-left: 70px;
    }
}

@media(max-width: 550px) {
    .footer-right-side {
        margin-right: 20px;
    }

    .footer-left-side{
        margin-left: 20px;
    }
}

@media (min-width: 675px) {
    .footer-logo-small {
        display: none;
        height: 100px;
    }
}
