

footer {
    background-color: rgb(64, 59, 59);
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
}

.footer-left-side{
    display: flex;
    margin-left: 160px;
}


.footer-right-side {
    margin-right: 160px;
}

.footer-logo {
    height: 100px;
}

.footer-right-top{
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

.footer-icon {
    height: 42px;
    width: auto;
    margin-left: 16px;
}

.footer-link {
    text-decoration: none;
    color: white;
    text-align: center
}

@media(max-width: 900px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-logo {
        flex-direction: column;
        justify-content: center;
    }

    .footer-right-top {
        justify-content: center;
        padding-top: 0px;
    }

    .footer-icon {
        padding-right: 32px;
    }
}

