header {
    height: 112px;
    width: 1440px;
    margin: 0px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.grey {
  color: #675e54;
}
#logo {
  background-image: url(./img/logo_black.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 92px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 160px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: green;
}
.distance {
  gap: 32px;
  padding-bottom: 30px;
  margin-right: 160px;
}
.horizontal {
  display: flex;
  align-items: flex-end;
}
#separator_horizontal {
  border-bottom: 0.5px solid rgb(0, 0, 0);
  box-shadow: 0px 0.5px 0.5px rgb(0, 0, 0), 0px 1px 1px rgb(0, 0, 0),
    0px 2px 2px rgb(0, 0, 0), 0px 3px 3px rgb(0, 0, 0), 0px 4px 4px rgb(0, 0, 0),
    0px 5px 5px rgb(0, 0, 0);
  width: 100%;
  opacity: 0.2;
}
/*Resp Burgermenu*/
.burgermenu {
    background-image: url(/img/icons/bars-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: auto;
    display: none;
    margin-top: 72px;
    margin-right: 240px;
    position: relative;
    overflow-y: hidden;
    border: none;
    background-color: white;
    height: 15%;
}
a:
.dropbtn {
  background-color:#3498D8;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a  {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #bebebe;}

.show {display: block;}

/* Media Query */

@media screen and (max-width: 1050px){
  .distance {
    gap: 16px;
  }
  body {
    margin: 0px;
    font-family: raleway;
    font-size: 14px;
  }
  #logo {
    width: clamp(10%, 40%, 50%);
    margin-left: clamp(10px, 50px, 160px);
  } 
  nav.distance.horizontal {
    width: clamp(20%, 35%, 50%);
    margin-right: clamp(10px, 100px, 160px);
  }
}
@media screen and (max-width: 800px){
  nav.distance.horizontal {
    display: none;
    }
  .burgermenu {
    display: flex;
    }
  .dropdown {
    margin-right: clamp(10px, 5px, 30px);
  }
}