header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 112px;
  flex-wrap: wrap;
}

.grey {
  color: #675e54;
  font-size: 20px;
  font-weight: 600;
}
#logo {
  background-image: url(./img/logo_black.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 300px;
  height: 92px;
  margin-left: clamp(24px, 15vw, 160px);
}

a {
  text-decoration: none;
  color: black;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: green;
}
nav.distance.horizontal {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  flex-wrap: wrap;
  height:80px;
  margin-right: clamp(24px, 15vw, 160px);
}
#separator_horizontal {
  border-bottom: 0.5px solid rgb(0, 0, 0);
  box-shadow: 0px 0.5px 0.5px rgb(0, 0, 0), 0px 1px 1px rgb(0, 0, 0),
    0px 2px 2px rgb(0, 0, 0), 0px 3px 3px rgb(0, 0, 0), 0px 4px 4px rgb(0, 0, 0),
    0px 5px 5px rgb(0, 0, 0);
  opacity: 0.2;
  width:100%;
}

#burgermenu {
  background-image: url(./img/icons/bars-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25px;
  height: 25px;
  border: none;
  background-color: white;
  margin-right: clamp(24px, 11.1vw, 160px);
}
a.dropbtn {
  background-color:#3498D8;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top:28px;
}
.dropdown-content a  {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #bebebe;}

.show {
  display: block;
  transform: translatex(-85%);
}

@media screen and (max-width: 1150px){
  .distance {
    gap: 16px;
  }
  body {
    margin: 0px;
    font-family: raleway;
    font-size: 16px;
  }
  #logo {
    margin-left: clamp(24px, 7vw, 160px);
  } 
  nav.distance.horizontal {
    margin-right: clamp(24px, 7vw, 160px);
  }
}
@media screen and (max-width: 1150px){
  nav.distance.horizontal {
    display: none;
    }
  #burgermenu {
    display: flex;
    margin-right: clamp(24px, 11.1vw, 160px);
    }
  .dropdown {
    display: flex;
  }
    #logo {
    width:clamp(100px, 200px);
  } 
}
@media screen and (min-width: 1150px){
    .show {
    display: none;
    }
}
@media screen and (max-width: 600px){
    #logo {
    background-image: url(./img/logo_small.png);
    width: 50px;
    height: 40px;
    padding-top: 45px;
    flex-shrink: 1;
  }
  #burgermenu{
    margin-right: clamp(24px, 5vw, 160px);
  }
}
@media screen and (max-width: 400px){
    .show {
    transform: translatex(-80%);
}
}