.section-croissants{
    display: flex;
    margin: 0 auto;
    margin-top: 120px;
    max-width: 1440px;
}
.croissant-img{
    height: 300px;
    margin-top: 0px;
    margin-left: 160px;
    border-radius: 10px;
}
.h2-croissants{
    text-align: left;
}
.croissants-info{
    margin-left: 32px;
    margin-right: 160px;
}
.croissants-text{
    margin-bottom: 60px;
}
.recipe-overview{
    display: flex;
    padding: 0px 160px;
    justify-content: space-between;
}
.single-recipe-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.proposal-overview-bg {
    background-color: #EFEFEF;
}
.section-proposal-overview{
    padding-top: 20px;
    padding-bottom: 64px;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
}
.section-further-topics{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: clamp(24px, 10vw, 160px);
}
.container-further-topics-info{
    display: flex;
    margin-left: 160px;
    margin-right: 160px;
}
.further-topics-img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 32px;
}
.further-topics-text{
    margin-top:32px;
    flex:1;
}

@media(max-width: 1200px){
    .croissant-img{
        margin-left: 0px;
    }
    .croissants-info{
        margin-right: 0px;
    }
    .section-croissants{
        flex-direction: column;
        padding-right: clamp(24px, 10vw, 160px);
        padding-left: clamp(24px, 10vw, 160px);
        margin-top: clamp(24px, 8vw, 120px);
    }
    .croissant-img{
        object-fit: cover;
        margin-bottom: 32px;
    }
    .croissants-info{
        margin-left: 0px;
        align-items: center;
        flex-direction: column;
        display: flex;
    }
    .croissants-text{
        text-align: justify;
    }
    .section-proposal-overview{
        margin-top: 50px;
    }
    .recipe-overview{
        flex-direction: column;
        align-items: center;
    }
    .single-recipe{
        margin-bottom: 16px;
    }
    .single-recipe-img{
            width: 400px;
            height: 400px;
    }
    .container-further-topics-info{
        margin-left: clamp(24px, 10vw, 160px);;
        margin-right: clamp(24px, 10vw, 160px);;
    }
    @media(max-width:1000px){
        .section-further-topics{
            padding-right: clamp(24px, 10vw, 160px);
            padding-left: clamp(24px, 10vw, 160px);
        }
        .container-further-topics-info{
            flex-direction: column-reverse;
            margin-left: 0px;
            margin-right: 0px;
        }
        .further-topics-img{
            object-fit: cover;
            width: unset;
            margin-left: 0px;
        }
        .further-topics-text{
            text-align: justify;
        }
    }

    @media(max-width: 600px){
        .single-recipe-img{
            width: 200px;
            height: 200px;
        }
        .recipe-overview{
            padding: 0px 0px;
        } 
    }

}