.section-croissants{
    display: flex;
    padding: 0px 160px;
}
.croissant-img{
    height: 300px;
    margin-top: 120px;
}
h2{
    text-align: left;
}
.croissants-info{
    margin-left: 32px;
}
.croissants-text{
    margin-bottom: 100px;
}