footer {
    background-color: rgb(64, 59, 59);
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
}

.footer-logo{
    padding-left: 160px;
}

.footer-right-top{
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

.footer-icon {
    height: 50px;
    width: auto;
    margin-left: 16px;
}

.footer-link {
    text-decoration: none;
    color: white;
    text-align: center

}