html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: raleway;
}
.container-landing-page{
    display: flex;
    flex-direction: column;
}
.container-main-content{
    flex:1;
}
.button{
    font-size: 16px;
    background-color: rgb(0, 128, 0);
    outline-style: solid;
    border: none;
    color: white;
    padding: 12px 48px;
    border-radius: 0px;
    display: flex;
    gap: 5px;
    cursor: pointer;
}
.button:hover{
    background-color:rgb(0, 160, 0);
}
#button-link{
    text-decoration: none;
}
h1{
    font-size: 48px;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: black;
    margin-bottom: 0px;
    text-align: center;
}
h2{
    font-size: 32px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: black;
    margin-top: 0px;
    margin-bottom: 32px;
    text-align: center;
}
h3{
    text-align: center;
    margin: 8px 0px;
}
p{
    font-size: 20px;
}
span{
    font-size: 20px;
}
@font-face {
    font-family: raleway;
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
<<<<<<< HEAD
<<<<<<< HEAD
    font-display: fallback;
}
@media screen and (max-width: 700px){
    .button {
        padding: 12px 32px;
    }
}
@media screen and (max-width: 600px){
    .button {
        padding: 6px 16px;
    }
}
@media(max-width:700px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
}
@media(max-width:400px){
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
=======
>>>>>>> 6bedc29 (headline responsive for width less than 600px)
}
@media(max-width:600px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
<<<<<<< HEAD
}
@media(max-width:700px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
}
@media(max-width:400px){
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
}
@media(max-width:700px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
}
@media(max-width:400px){
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
=======
>>>>>>> 6bedc29 (headline responsive for width less than 600px)
}
@media(max-width:700px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
}
@media(max-width:400px){
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
}
@media(max-width:700px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
}
@media(max-width:400px){
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
=======
>>>>>>> bd70bbb (headline responsive for width less than 600px)
}
@media(max-width:700px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
}
@media(max-width:400px){
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
}