.nasigoreng-main {
    margin-left: clamp(24px, 11vw, 160px);
    margin-right: clamp(24px, 11vw, 160px);
}
.food-image {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    margin-bottom: 24px;
    border-radius: 16px;
}
h1{
    text-align: left;
    padding-bottom: 24px;
    padding-top: 30px;
}

h2 {
    text-align: left;
    padding-top: 72px;
}

h3 {
    padding-top: 40px;
    text-align: left;
    padding-bottom: 14px;
}
.icon-image {
    width: 14px;
}

.icon-text {
    background: rgb(223, 219, 219);
    border-radius: 6px;
    padding: 5px 16px;
    display: flex;
    align-items: center;
}

.p-text{
    font-size: 18px;
    margin: 0px;
}

.information{
    display: flex;
    margin-bottom: 64px;
    gap: 16px;
}

.portion {
    display: flex;
    gap: 16px;
}

.inputportion {
    width: 154px;
    height: 38px;
    border-radius: 6px;
    border-color: rgb(235, 229, 229);
}

.button-portion {
    background-color: rgb(2, 88, 2);
    border: none;
    width: 160px;
    height: 40px;
    color: #fff;
    cursor: pointer;
}

.profile-img {
    width: 72px;
    border-radius: 35px;
}

.profile-name{
    display: flex;
    align-items: center;
    padding-bottom: 32px;
}

table{
    border-collapse: separate;
}


td {
    border-radius: 0.8rem;
    background: rgba(241, 237, 237, 0.9);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 24px;
}

table {
    width: 100%;
    margin-top: 0.8rem;
}

.td-white {
    background-color: #fff;
}

.button-portion:hover{
    background-color:rgb(0, 160, 0);
}
@media(max-width: 800px) {
    .information {

        align-items: center;
    }

    .portion{
        align-items: center;
    }

    h2 {
        font-size: 24px;
        text-align: center;
    }

    h3{
        font-size: 16px;
    }

    .portion{
        padding-bottom: 32px;
    }

    p{
        font-size: 20px;
    }

    .inputportion{
    width: clamp(24px, 10vw, 160px);
    }
}

@media(max-width: 600px) {
    .p-text{
        font-size: 16px;
    }
    .information{
        gap: 8px;
    }
    .icon-text {
        padding: 5px 8px;
    }
    .nasigoreng-main {
        margin-right: clamp(24px, 5vw, 160px);
        margin-left: clamp(24px, 5vw, 160px);
    }
}

@media(max-width:400px){
    .button-portion{
        width: 100px;
        flex: 1;
    }
    .icon-text {
        padding: 0px 5px;
        gap: 5px;
    }
}