.margin {
    margin-right: 160px;
    margin-left: 160px;
}
#dish-presentation {
    color:aliceblue
}
/*Image Manipulation*/
#my-Img {
    cursor: pointer;
    transition: 0.3s;
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px
}
#my-Img:hover {
    opacity: 0.7;
}
.modal {
    display: none; 
    position: relative; 
    background-position-x: center;
    background-position-y: center;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}   
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}   
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}  
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}   

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/*Image Manipulation End of the Section*/
.text-aligning {
    text-align: left;
    width: auto;
    padding-top:64px;
    margin-bottom:8px;
}
#aligning-picture {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.button-aligning {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding-top: 20px;
    padding-bottom: 30px;
    gap:32px;
    color:black;
}
.button-adjust {
    display: flex;
}
#quantity {
    height: 32px;
    width: 128px;
    padding:0px
}
#portionen {
    width: 128px;
}
#quantity {
    height:auto;
    width:128px;
    border-collapse: collapse;
}

.info-container {
    background-color: #efefef; 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 5px;
    padding:5px 10px;
    gap:16px;
    white-space: nowrap;
}
.icon-buttons {
    width: 16px;
    height: 16px;
    display: flex;
}
#section-seperator {
    background-color: grey; /*anpassen mit colorpicker*/
    height: 0.5px;
    width: auto;
    margin-top:50px;
    margin: 0 160px;
    opacity: 0.2;
}
#ingredient-calculation {
    display: flex;
    flex-direction: column;
}
.ingridient-calculation-aligning {
    display: flex;
    flex-direction: column;
}
#amount {
    margin-left:160px;
    margin-bottom:32px;
    margin-top:16px;
    display: flex;
    align-items: center;
    gap:16px;
}
#inputfield-aligning {
    margin-left: 160px;
    padding-bottom: 16px;
    padding-top: 16px;
    height: 48px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: 48px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
input,
button {
    float: c;
}
#button-styling {
    background-color: green;
    color: white; /*anpassen mit colorpicker*/
    width: 128px;
    height:35px;
    cursor: pointer;
}
#button-input-connect {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: start;
    width: 128px;
    height:35px;
    cursor: pointer;
}
button:hover {
    cursor:pointer;
    background-color:greenyellow;
    color: grey;
}
.IngridientAmount {
    text-align:right;
    width:100px;
}
table#customers {
    border-spacing: 0;
    margin:0 160px;
    width: auto;
}
table,tr {
    border-radius: 10px;
}
td {
    padding:10px;
    border-right: none;
}
.ws-table-all {
    border-collapse: separate;
    border-spacing: 0 6px;
}
.ws-table-all tr:nth-child(odd) td {
    background-color: #efefef;
    border: none;
}
.ws-table-all tr:nth-child(odd) td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 12px;
}
.ws-table-all tr:nth-child(odd) td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 12px;
}
#creator-name {
    font-family:'Raleway'; /*anpassen Font datei einbinden @Font-Face*/
    color: black;
    font-size: 24px;
    font-weight:200;
}
#Avatar {
    border-radius: 50%;
    width:100px;
    height:auto;
}
.leftalign {
    text-align: left;
    padding:20px 0;
    margin-top:120px;
}
.rightalign {
    text-align:right;
    width: 10%;
}
.picture-distance {
    margin-bottom:50px;
}
@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@media screen and (max-width: 700px){
    #portionen {
        width:68px;
    }
}
@media screen and (max-width: 675px){
    .info-container {
        padding:0px 5px;
    }
    .button-aligning {
        gap:0px;
        min-width:260px;
        width:auto;
    }
}
@media screen and (max-width: 600px){
    #portionen {
        width:32px;
    }
}
@media screen and (max-width: 575px){
    .info-container {
    gap:0px;
    }
    .button-aligning {
    min-width:215px;
    width:auto;
    }
}